/*
personal_website is a website meant to show informations about someone.
Copyright (C) 2020  Félix Bertoni

this file is part of personal_website

personal_website is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

personal_website is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with personal_website.  If not, see <https://www.gnu.org/licenses/>.
*/

/* general */

:root {
    --primary-color: rgb(68, 167, 68);
    --secondary-color: rgb(28, 54, 71);
    --light-border: rgb(80, 80, 80);
    --light-background: rgb(240, 240, 240);
}

/*
:root {
    --primary-color : rgb(255, 145, 0);
    --secondary-color : rgb(28, 54, 71);
}
*/

:root {

    /* --main-color : rgb(78, 185, 78); */
    --main-color: var(--primary-color);
    --main-nav-second-color: var(--secondary-color);
    --main-nav-text-color: white;
    --main-nav-selected-color: white;

    --control-btn-color: var(--secondary-color);
    --separator-color: var(--secondary-color);

    --course-item-border-color: var(--primary-color);
    --course-item-color: white;
    --course-item-control-btn: var(--secondary-color);

    --main-nav-height: 50px;

    --checkbox-checked-color: var(--primary-color);
}

body {
    font-family: monospace;
    margin: 0px;
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

.flex-spacer {
    flex: 1;
}

.btn:hover {
    cursor: pointer;
}

.noselect {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

/* navigation */

.nav-hide {
    display: none;
}

#main-nav {
    z-index: 9997;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    /*height: var(--main-nav-height);*/
    display: flex;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: monospace;
    border-bottom: 10px solid var(--main-color);
}

#main-nav-container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--main-nav-second-color);
}

#main-nav-placeholder {
    width: 100%;
    height: calc(var(--main-nav-height) + 10px);
}

#main-nav-home {
    padding-left: 20px;
}

.main-nav-btn,
.main-nav-btn:active,
.main-nav-link {
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: var(--main-nav-height);
    line-height: var(--main-nav-height);
    color: var(--main-nav-text-color);
    background-color: var(--main-nav-second-color);
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}


.main-nav-btn.selected,
.main-nav-btn:hover,
.main-nav-link:hover {
    color: white;
    background-color: var(--main-color);
}

#main-nav-open {
    display: none;
}

#main-nav-toggle {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    height: var(--main-nav-height);
    width: calc(var(--main-nav-height) + 10px);
    line-height: 45px;
    text-align: center;
    color: white;
    background-color: var(--main-color);
    font: bolder;
    font-size: 50px;
    cursor: pointer;
}



@media screen and (max-width: 1000px) {
    #main-nav-toggle {
        display: block;
    }

    #main-nav-container {
        flex-direction: column;
        z-index: 9998;
    }

    #main-nav .flex-spacer {
        display: none;
    }

    /*
    #main-nav {

    }*/

    .main-nav-btn,
    .main-nav-link {
        text-align: center;
        display: none;
    }

    .main-nav-btn.selected {
        color: var(--main-nav-text-color);
        display: block;
        order: -1;
        background-color: var(--main-nav-second-color);
    }

    #main-nav.main-nav-expand .main-nav-btn,
    #main-nav.main-nav-expand .main-nav-link {
        display: block;
    }
}

/* panels */

.panel {
    display: flex;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;
}

.panel-hide {
    display: none;
}

.section {
    padding-left: 0px;
    padding-right: 0px;
    border-top: 3px solid var(--main-color);
    padding-bottom: 15px;
}

.section-collapse {
    padding-bottom: 0px;
}

.section:first-child {
    border-top: none;
}

.section:last-child {

    border-bottom: 3px solid var(--main-color);
}

.section-content {
    display: flex;
    flex-direction: column;
}

.section-content>*:last-child {
    margin-bottom: 0px;
}

.section-collapse .section-content {
    display: none;
}


.section-top {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 12px;
}

.section-top h1 {
    font-size: 25px;
    margin: 0px;
    flex: 1;
}

.section-top span {
    font-size: 25px;
    font-weight: bolder;
    border: 1px solid var(--light-border);
    padding-left: 7px;
    padding-right: 7px;
    user-select: none;
}

.section.section-collapse span.section-open {
    display: inline-block;
}

.section.section-collapse span.section-close {
    display: none;
}

.section span.section-open {
    display: none;
}

/* HOME */

#home {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
    padding: 0px;
    min-height: 100%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: var(--secondary-color);
    color: white;
    /* background-image: url("../resources/mountainsv3.png");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 40% 20%; */

    /* background-image: url("../resources/indexbgng.jpg");
    background-size: cover;
    background-position: bottom; */
}

#home.panel-hide {
    display: none;
}

#home-center {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 100vw;
    text-align: center;
    z-index: 9999;
}

#home-catchphrase {
    font-size: 20px;
    margin: 0px;
    display: none;
}


#home-title {
    margin-top: 20px;
    font-size: 150px;
    margin-bottom: 20px;
    text-transform: uppercase;
}



#home-follow-up {
    font-size: 20px;
    margin: 0px;
    display: none;
}

#home-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.home-button,
.home-link {
    border: 3px solid var(--main-color);
    font-size: 30px;
    padding: 10px 12px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}



@media screen and (max-width: 700px) {

    #home-title {
        font-size: 15vw;
    }

    .home-button,
    .home-link {
        font-size: 5vw;
    }

}

.home-button:hover,
.home-link:hover {
    background-color: var(--main-color);
    color: white;
}


#gamecanvas {
    width: 100vw;
    padding: none;
    margin: none;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}

@media screen and (max-width: 700px) {

    #gamecanvas {
        display: none;
    }

}

/* ABOUT ME */

/* CAREER*/

#about-me-career article {
    margin-top: 10px;
}

#about-me-career article:first-child {
    margin-top: 0px;
}

/*
#about-me-career article:last-child {
    margin-bottom: 30px;

}*/

#about-me-career article div:first-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#about-me-career article div h3 {
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 0px;
    min-width: fit-content;
}

#about-me-career article div h3:first-child {
    flex: 1;
}

#about-me-career article div h3:last-child {
    margin-right: 0px;
}

#about-me-career article div:first-child h3 {
    font-size: 18px;
}


#about-me-career article.career-education div:first-child h3 {
    color: var(--main-nav-second-color);
}

#about-me-career article.career-professional div:first-child h3 {
    color: var(--main-color);
}

#about-me-career article div:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: normal;
}

#about-me-career article div:nth-child(2) h3 {
    font-weight: normal;
}

#about-me-career article div:first-child {
    display: flex;
    flex-direction: row;
}

#about-me-career article p {
    text-align: justify;
}

/* skills */

#about-me-skills article table {
    width: 100%;
    border-collapse: collapse;
}

#about-me-skills article table tr {
    border-top: 1px solid var(--light-border);
}

#about-me-skills article table tr:first-child {
    border-top: none;
}


#about-me-skills article table th {
    text-align: left;
}

#about-me-skills article table th:first-child {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

#about-me-skills article table td:first-child {
    text-align: left;
    padding-left: 10px;
}

#about-me-skills article table th {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 30px;
    text-align: center;
    vertical-align: bottom;
}

#about-me-skills article table td {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

#about-me-skills article table th:last-child {
    text-align: center;
    padding-right: 10px;
}

#about-me-skills article table td:last-child {
    text-align: center;
    padding-right: 10px;
}

/* Projects */

#about-me-projects article {
    display: flex;
    flex-direction: row;
    background-color: var(--light-background);
    border-left: 6px solid var(--main-nav-second-color);
    flex-wrap: wrap;
    margin-top: 20px;
}

#about-me-projects .project-image {
    min-height: 100%;
    min-width: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    flex: 1;
}

#about-me-projects article a {
    color: var(--main-color);
}

#about-me-projects article p {
    text-align: justify;
    padding-right: 10px;
}

#about-me-projects article div:first-child {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    flex: 1;
    min-width: 300px;
}

/* PRINCING AND SERVICES */
#pricing .section-content p {
    margin-top: -10px;
    margin-bottom: 0px;
}

#pricing-pricing table {
    width: 100%;
}

#pricing-pricing table tr {
    width: 100%;
}

#pricing-pricing table td {
    text-align: center;
}

#pricing-pricing table th:first-child,
#pricing-pricing table td:first-child {
    text-align: left;
}

/* read before ordering */

#read-before-ordering table {
    margin-top: 10px;
    margin-bottom: 20px;
}

#read-before-ordering td {
    text-align: center;
}

#read-before-ordering td:first-child {
    text-align: left;
}

#read-before-ordering th:first-child {
    text-align: left;
}


/* COURSE FILTERING */

#courses-filtering {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0px;
}

#courses-filter-header {
    display: flex;

}

#courses-filter-string {
    border: 3px solid var(--separator-color);
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
    flex-direction: row;
    outline: none;
    box-sizing: border-box;
    margin-right: 10px;
    min-width: 100px;
}

#courses-expand-filters {
    height: 35px;
    line-height: 30px;
    box-sizing: border-box;
    border: 3px solid var(--main-color);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    color: black;
    min-width: fit-content;
}


#courses-filter-options.filter-options-hide #filter-group-types {
    display: none;
}

#courses-filter-options.filter-options-hide #filter-group-tags {
    display: none;
}

#courses-expand-filters:hover {
    background-color: var(--main-color);
    color: white;
}

#courses-filter-options {
    border: 3px solid var(--separator-color);
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
}

.courses-filter-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--light-border);
    align-items: center;
}

.courses-filter-group:last-child {
    border: none;
}

.custom-checkbox {
    width: fit-content;
    flex-grow: 1;
    white-space: nowrap;
    margin: 10px;
}

.filter-warning {
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    font-style: oblique;
}

.filter-warning span {
    margin-right: 5px;
}

/* COURSE ITEMS */

.course-item {
    border-left: 6px solid var(--course-item-border-color);
    padding-left: 10px;
    padding-right: 16px;
    margin-top: 20px;
    /*border-top:2px solid var(--course-item-border-color); */
    background-color: var(--light-background);
    padding-bottom: 10px;
}

.course-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.course-name {
    flex: 1;
    margin-top: 0px;
    margin-bottom: 0px;
}


.course-block {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.course-details {
    padding-bottom: 10px;
    padding-right: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.course-details-line {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 0.9em;
    font-style: italic;
}

.course-details-line div {

    padding-right: 20px;
    padding-left: 20px;
    border-left: 2px solid var(--main-nav-second-color);
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    max-width: fit-content;
}

.course-details-line div:first-child {
    padding-left: 0px;
    border-left: none;
}

.course-details-line div:last-child {
    padding-right: 0px;
}



.course-description {
    flex: 1;
    vertical-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
}



.course-controls {
    display: flex;
    flex-direction: row;
}

.course-control-btn {
    border: 3px solid var(--control-btn-color);
    box-sizing: border-box;
    padding: 5px;
    margin-right: 10px;
    margin-left: 0px;
    text-align: center;
    margin-bottom: 0px;
}

.course-control-btn:hover {
    background-color: var(--control-btn-color);
    color: white;
}


.course-hide {
    display: none;
}

.course-link {
    color: var(--main-nav-second-color);
    font-weight: bold;
}

.course-view {
    color: var(--main-nav-second-color);
    font-weight: bold;
    margin-right: 25px;
}

.course-work-in-progress .course-name::after {
    content: " (WIP)";
}

/* Contact */

#contact {
    display: block;
    width: fit-content;
}

#contact.panel-hide {
    display: none;
}

#contact span {
    margin-right: 10px;
}

#contact .section {
    padding-top: 15px;
}

#contact .section:last-child {
    border-bottom: none;
}

.c-text {
    color: black;
    text-decoration: underline;
}

#contact i {
    color: black;
    font-style: normal;
}

#contact i.fa {
    margin-left: 10px;
}

#contact a {
    color: black;
}



/* footer */

footer {
    width: 100vw;
    height: 50px;
    margin-top: 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
}

#footer-placeholder {
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

footer div {
    border-top: 1px solid var(--main-nav-second-color);
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer div p {
    margin: 0px;
    text-align: center;
}

.footer-hide {
    display: none;
}